<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic-Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card color="light mt-5" scroll-y="true" style="overflow: scroll">
  <ion-card-header class="mx-auto fs-5 text-center text-decoration-underline">
    <b>Registration</b>
  </ion-card-header>
  <ion-card-content>
    <div class="container mb-3">
      <div class="outer mb-5">
        <img *ngIf="photo" src="{{photo}}" />
        <div class="inner" (click)="openModal()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="saveFormData()">
      <ion-item lines="full" class="mb-2 ionitem">
        <ion-label color="dark" position="floating">
          Enter your name
        </ion-label>
        <ion-input
          color="dark"
          type="text"
          placeholder="John"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-item lines="full" class="mb-2">
        <ion-label color="dark" position="floating"
          >Enter your Gender</ion-label
        >
        <ion-select placeholder="Select" formControlName="gender">
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Male">Female</ion-select-option>
          <ion-select-option value="Male">Others</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="full" class="mb-2">
        <ion-label color="dark" class="" position="stacked">
          Date of birth
        </ion-label>
        <ion-input type="date" formControlName="dob"></ion-input>
      </ion-item>

      <ion-item lines="full" class="mb-2">
        <ion-label color="dark" position="floating">
          Enter your permanent address
        </ion-label>
        <ion-input
          type="text"
          placeholder="96, DIY Street"
          formControlName="permanentAddress"
        ></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label color="dark" position="floating">
          Enter your temporary address
        </ion-label>
        <ion-input
          type="text"
          placeholder="96, DIY Street"
          [disabled]="isOK"
          id="tempAddress"
          formControlName="temporaryAddress"
        ></ion-input>
      </ion-item>
      <div class="mb-2 mt-2">
        <ion-checkbox
          type="checkbox"
          class=""
          [(ngModel)]="isOK"
          [ngModelOptions]="{standalone: true}"
          (ionChange)="emptyInput()"
        ></ion-checkbox>

        <ion-label class="ms-2 mt-0 mb-5">Same as permanent address</ion-label>
      </div>
      <ion-item lines="full" class="mb-2">
        <ion-label color="dark" position="floating">
          Enter your skills
        </ion-label>
        <ion-input
          (keyup.enter)="addingSkills($event)"
          id="skills1"
          formArrayName="skills"
        ></ion-input>
        <p *ngFor="let skill of skills">{{skill}}</p>
      </ion-item>
      <p style="text-align: right !important">Press ENTER to add new skill</p>
      <ion-button
        type="submit"
        color="success"
        expand="block"
        class="align-items-center mx-5 mt-2 btn-center"
      >
        Submit
      </ion-button>
      <ion-button (click)="dropTable()">Drop Database</ion-button>
    </form>
    <ion-button (click)="showUsers()"> Show registered users </ion-button>

    <!-- <ion-label>
        <h2><strong>{{ user.name }}</strong></h2>
        <p>{{ user.gender }}</p>
        <p>{{ user.dob }}</p>
        <p>{{ user.permanentAddress }}</p>
        <p>{{ user.temporaryAddress}}</p>
        <p *ngFor="let skill of user.skills">{{ skill }}</p>
      </ion-label> -->
    <table>
      <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Permanent Address</th>
        <th>Temporary Address</th>
        <th>Skills</th>
      </thead>
      <tbody *ngFor="let user of db.users">
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.dob }}</td>
          <td>{{ user.permanentAddress }}</td>
          <td>{{ user.temporaryAddress }}</td>
          <td>{{ user.skills }}</td>
        </tr>
      </tbody>
    </table>
  </ion-card-content>
</ion-card>
